/* src/components/LandingPage.css */

body{
background-color: rgb(255, 255, 255);
color: white;
}

.info-page h1{
align-self: flex-start;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: grey;
font-weight: 300;
}

.ex{
align-self: flex-start;
margin-bottom: 20px;
}

.analysis-page{
border-radius: 5px;
width: 100%;
color: rgb(169, 169, 169);
display: flex;
margin-top: 40px;
flex-direction: column;
flex-wrap: wrap;
height: 50vh;
padding: 20px;
box-sizing: border-box;
}

.ai-content{
background-color: #ffffff;
box-sizing: border-box;
padding: 10px;
border-radius: 10px;
box-shadow: 10px 10px 20px 10px rgba(128, 128, 128, 0.106);
min-height: 30vh;
font-weight: bold;
margin-top: 20px;
}

.sistitle{
background-color: #4b4b4b ;
padding: 15px;
border-radius: 5px;
font-weight: 400;
text-align: center;
width: 50%;
font-size: 15px;
color: rgb(220, 220, 220);
}

pre{
width: 20ch;
}

.info-page {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  h1{
 margin-left: 40PX;
  }

  .ex{
   margin-left: 40px;
  }

  img{
  object-fit: cover;
  height: 200px;
  max-width: 90vw;
  min-width: 90vw;
  overflow: scroll;
  }

  .pagination {
    display: flex;
    justify-content: center;
    
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active {
    background-color: #717171;
  }

  .textbox{
    margin-top: 100px;
    display: flex;
    width: 100vw;
    overflow: scroll;
    gap: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }

  .textcontainer{
  min-width: 90vw;
  box-sizing: border-box;
  background-color: white;
  color: rgb(144, 144, 144);
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  min-height: 300px;
  }

  .aicontent{
  width: 70vw;
  height: 200px;
  background-color: white;
  color: black;
  overflow: scroll;
  box-sizing: border-box;
  padding: 20px;
  }

  ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0px;
list-style: none;
text-decoration: none;
  }
  