.cart{

width: 50%;
box-shadow: 10px 10px 20px 10px rgba(128, 128, 128, 0.106);
background-color: rgb(0, 0, 85);
color: white;
overflow: scroll;
display: flex;
height: 600px;
box-sizing: border-box;
margin: 0px;
padding: 15px;
flex-direction: column;
align-items: center;

position: fixed;
top: 166px;
right: 0px;
}

.removal{
background-color: white;
color: rgb(0, 0, 85) ;
}


.cartier{
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.boss{
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 85);
padding: 10px;
border-radius: 5px;
list-style: none;
text-decoration: none;
align-self: center;
}