body{
margin: 0px;
padding: 0px;
}

.confirmation-container {
    text-align: center;
    padding: 20px;
  }
  
  .confirmation-container h2 {
    color: #4CAF50; /* Success color */
  }
  
  .confirmation-container h3 {
    margin-top: 20px;
  }
  

.checkcont{
box-sizing: border-box;
margin: 29px;

display: flex;
border-radius: 5px;
flex-direction: column;
box-sizing: border-box;
padding: 40px;
align-items: flex-start;
justify-content: center;
color: blue;
}


.boxdiv{
    box-shadow: 10px 10px 20px 10px rgba(128, 128, 128, 0.106);
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
}

.chekedimage{
height: 200px;
width: 200px;
}

.checkcont
form{
box-sizing: border-box;
padding: 0px;
display: flex;
flex-direction: column;
width: 80%;
gap: 20px;
border-radius: 5px;
padding: 40px;
box-shadow: 5px 10px 20px 10px rgba(89, 100, 199, 0.119);
}

.checkoutLit{
align-self: flex-start;
}

.checkcont input{
border: solid 1px rgb(194, 194, 194);
border-radius: 5px;
padding: 15px;
}

button {
align-self: center;
justify-self: center;
}

@media (max-width: 500px) {


.boxdiv{
    box-shadow: 10px 10px 20px 10px rgba(128, 128, 128, 0.106);
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}

    .checkcont
    form{
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 5px 10px 20px 10px rgba(89, 100, 199, 0.119);
    }



.checkcont{
    box-sizing: border-box;
    margin: 15px;
    
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    align-items: flex-start;
    justify-content: center;
    color: blue;
    }
}