.productimaged{
    object-fit: scale-down;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    }


    .detailed{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 300px;
    }

    .productbutton{
    margin: 0px;
    }

    .productdescriptor{
    color: black;
    width: 50ch;
    }

    .productname{
        background-color: rgba(255, 255, 255, 0);
        padding: 0px;
        margin: 0px;
        width: fit-content;
    }

    @media (max-width: 768px){
        .detailed{
            display: flex;
            height: 90vh;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 100px;
            }
    
    }


    @media (max-width: 500px){
        .productdescriptor{
            color: black;
            width: 30ch;
            }
    }