.productimaged{
    object-fit: scale-down;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 3px;
    }

    .text{

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: blue;
    }


    .detailed{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;

    padding: 0px;
    box-sizing: border-box;
    }

    .productbutton{
    margin: 0px;

    }

    .productdescriptor{
    color: rgb(40, 59, 183);
    width: 50ch;
    }

    .productname{
        background-color: rgba(255, 255, 255, 0);
        padding: 0px;
        margin: 0px;
        width: fit-content;
    }

    .description-segment {
        display: block; /* Make span behave like a block element to accept margin */
        margin-bottom: 20px; /* Adjust spacing as needed */
      }

    .imaged{
    display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  gap: 10px; /* Space between images */
  height: 100%;
 overflow: scroll;
 justify-content: center;
 padding: 40px;
 width: 100%;
background-color: rgb(6, 6, 129);
box-sizing: border-box;
    }

    @media (max-width: 768px){
        .detailed{
            display: flex;
            height: 90vh;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 100px;
            }
    
    }


    @media (max-width: 500px){
        .productdescriptor{
            color: black;
            width: 30ch;
            }


    .imaged{
        display: flex;
     flex-direction: row; /* Single column layout */
 /* Space between images */
      height: 300px;
     overflow: scroll;
    width: 100%;
    box-sizing: border-box;
        }

        .productdescriptor{
        font-size: 10px;
        }


        .detailed{
            display: flex;
            height: auto;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 20px;
            }
    
    }