/* SecondaryNavBar.css */
.secondary-nav {
    width: 100%; /* Full width */
    min-height: 100px;
    background-color: #ffffff; /* Light grey background */
 
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between the categories and cart icon */
    align-items: center; /* Center items vertically */
    padding: 0.5rem 1rem;
    box-sizing: border-box; /* Padding around the navigation bar */
}

.cartItem{
color: rgb(137, 137, 137);
margin-right: 10px;
}

.secondary-nav .categories {
    display: flex; /* Display categories in a row */
}

.secondary-nav .categories button {
    margin-right: 1rem; /* Margin between buttons */
    padding: 0.5rem 1rem; /* Padding inside buttons */
    background: none; /* No background for buttons */
    border: 1px solid transparent; /* Transparent border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, border-color 0.3s; /* Transition for hover effects */
}

.secondary-nav .categories button:hover {
    background-color: #e7e7e7; /* Light grey background on hover */
    border-color: #d7d7d7; /* Slightly darker border on hover */
}



