.entryScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-image: url('/public/goblend.jpeg');
    color: rgb(255, 255, 255);
  }
  
  .entryContainer {
    text-align: center;
  }
  
  .passcodeInput {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submitBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
  }

  h1, h3{
    padding: 20px;
    border-radius: 5px;
background-color: blue;
  }
  
  .submitBtn:hover {
    background-color: darkblue;
  }
  