.model-view-page{
color: black;
height: 90vh;
display: flex;
flex-direction: column;
justify-content: flex-end;
}

.modelnext{
position: absolute;
bottom: 0px;
right: 100px;
color: #ffffff ;
background-color: #0022ff;
}



.ting{
align-items: center;
display: flex;
justify-content: center;
}