.model-view-page{
color: black;
height: 90vh;
display: flex;
flex-direction: column;
justify-content: flex-end;
}

.modelnext{
position: absolute;
bottom: 50px;
right: 100px;
color: #ffffff ;
background-color: #0022ff;
}

.instruct {
    position: absolute;
    color: #0022ff;
    top: 100px;
    z-index: 100000000;
    left: 50%; /* Center the element from the left side of the screen */
    transform: translateX(-50%); /* Shift it back by half its own width */
  }



.ting{
align-items: center;
display: flex;
justify-content: center;
}