.model-view-page{
color: black;
display: flex;
align-items: center;
min-height: 90vh;
flex-direction: column;
}

@keyframes pinner {
  to {transform: rotate(360deg);}
}

.backdrop{
position: absolute;
opacity: 0.5;
right: 583px;
}

.pinner {
  border: 4px solid #0a3c8653;
  border-radius: 50%;
  border-top-color: #0A3C86;
  height: 50px;
  width: 50px;
  animation: pinner 1s ease-in-out infinite;
}

.containerpinner{
  height: 90vh;
  width: 100%;
display: flex;
flex-direction: column;
gap: 50px;
color: #0A3C86;
align-items: center;
justify-content: center;
}

.modelnext{
color: #ffffff ;
background-color: #1650A6;
position: absolute;
bottom: 30px;
right: 50px;
}

.instruct {
    position: absolute;
    color: white;
    background-color: #4873b470;
padding: 10px;
border-radius: 5px;
    top: 150px;
    z-index: 100000000;
    left: 50%; /* Center the element from the left side of the screen */
    transform: translateX(-50%); /* Shift it back by half its own width */
  }



.ting{
align-items: center;
display: flex;
justify-content: center;
}

@media (max-width: 500px){
  .modelnext{
    color: #ffffff ;
    background-color: #1650A6;
    position: absolute;
    bottom: 0px;
    right: 5px;
    }


.instruct {
  position: absolute;
  color: white;
  background-color: #4873b470;
padding: 10px;
font-size: 13px;
border-radius: 5px;
  top: 150px;
  z-index: 100000000;
  left: 50%; /* Center the element from the left side of the screen */
  transform: translateX(-50%); /* Shift it back by half its own width */
}
}