body{
color: black;
padding: 0px;
margin: 0px;

}


.product-list{
display: grid;
align-content: center;
gap: 40px;
margin: 20px;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product h1, .product h3{
background-color: white;
color: rgb(0, 0, 0) ;
padding: 0px;
margin-top: 15px;
}

.product{
width: 100%;
display: flex;
flex-direction: column;
padding: 20px;
box-sizing: border-box;
justify-content: center;
align-items: center;

}


.product a{
text-decoration: none;
list-style: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.product p{
margin: 0px;
padding: 0px;
}

.product img{
object-fit: scale-down;
width: 80%;
height: auto;
min-width: 5px;

}

.price{
color: black;
text-decoration: none;
list-style: none;
}

.product-details{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 100%;
}

@media only screen and (max-width: 700px) {
    .product-list{
        display: grid;
        align-content: center;
        gap: 40px;
        margin: 20px;
        grid-template-columns: 1fr;
        } 
}
