.rehab-item {
    text-align: center;
    padding: 20px;
    margin: 20px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    min-width: 80vw;
    box-sizing: border-box;
  }

.rehab-carousel{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 500px;
    box-sizing: border-box;
}

  
  .rehab-carousel video {
    max-width: 500px;
    min-width: 500px;
    border-radius: 10px;
    object-fit: scale-down;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .shopitem{
 display: flex;
 width: 100%;
 align-items: center;
 justify-content: space-between;
  }

  .dog{
display: flex;
flex-direction: column;
  }
  
  .rehab-carousel h3 {
    color: rgb(0, 26, 74) ;
    font-size: 1.5em;
    margin: 0px;
  }
  
  .rehab-carousel p {
    color:   rgba(0, 26, 74, 0.394) ;
    margin-bottom: 20px;
  }
  
  .rehab-carousel a {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .rehab-carousel a:hover {
    background-color: #0056b3;
  }

  /* Override the default slick-dots styles */
.slick-dots {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    list-style: none;
    padding: 0;
  }
  
  .slick-dots li {
    margin: 0 5px; /* Adjust the space between dots */
  }
  
  .slick-dots li button {
    border: none;
    background: none;
  }
  
  /* Style for all dots */
  .slick-dots li button:before {
    font-size: 16px; /* Adjust the size of the dots */
    line-height: 20px;
    width: 20px; /* Width of the dot */
    height: 20px; /* Height of the dot */
    border-radius: 50%; /* Makes it circular */
    background-color: rgba(0, 26, 74, 0.398); /* Color of the dots */
    opacity: 1; /* Fully opaque by default */
    content: ''; /* Removes the content inside before pseudo element */
    display: inline-block; /* Aligns with the rest of the inline elements */
  }
  
  /* Style for the active dot */
  .slick-dots li.slick-active button:before {
    background-color:     rgb(0, 26, 74);; /* Color of the active dot */
  }

@media (max-width: 500px) {


  
  .rehab-carousel video {
    max-width: 250px;
    min-width: 250px;
    border-radius: 10px;
    object-fit: scale-down;
    border-radius: 8px;
    box-sizing: border-box;
  }
}
  
  